<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 align="center" >The Farmer's Vegetable Shop</h2>
    <table align="center" style="border: solid;" border="1">
        <tr>
            <th>Vegetable Name</th>
            <th>Vegetable Type</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Delete</th>
            <th>Update</th>
            
        </tr>

        <% for(var i=0;i<vegetables.length;i++){ %>
            <tr>
                <td><%= vegetables[i].name %></td>
                <td><%= vegetables[i].type %></td>
                <td><%= vegetables[i].quantity %></td>
                <td><%= vegetables[i].price %></td>
                <td><form action="delete/<%=vegetables[i].name %>" method="get"><input type="submit" value="Delete"> </form></td>
                <td><form action="getupdateform/<%=vegetables[i].name %>" method="get"><input type="submit" value="Update"></form></td>
            </tr>
            <% } %>

    </table>
</body>
</html>